{% extends "base.html" %}

{% block content %}

        <p>&nbsp;</p>

        <form class="form-signin" method="post">
            <h2 class="form-signin-heading">Create a new administrator</h2>

            <div class="input-prepend">
                <span class="add-on"><i class="icon-user"></i></span>
                <input class="input-block-level" id="username" name="username" placeholder="    Enter your email." size="20" type="text" value="" autocomplete="on">
            </div>
            <div class="visualClear"><!-- --></div>

            <div class="input-prepend">
                <span class="add-on"><i class="icon-key"></i></span>
                <input class="input-block-level" id="password" name="password" placeholder="    Enter your password." size="20" type="password" value="">
            </div>
            <div class="visualClear"><!-- --></div>

            <button name="create_btn" type="submit" class="btn btn-large btn-primary"><i class="icon-user"></i> Create</button>
        </form>

{% endblock content %}

{% block inline_js %}
    <script src="{{ url_for('static', filename='js/password_strength_plugin.js') }}"></script>
    <script type="text/javascript">
        jQuery(document).ready(function() {
            jQuery("#password").passStrength({
                userid: "#username"
            });
        });
    </script>
{% endblock inline_js %}

